@import "_colors.scss";

.sign-up-form__wrap {
  width: 100%;
  height: 100vh;
  background: $primary-background-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .sign-up-form-container {
    width: 300px;
    min-width: 300px;
    background-color: $default-background-color;
    padding: 25px;

    .sign-up-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .sign-up-form-field__name,
      .sign-up-form-field__password,
      .sign-up-form-field__confirm-password {
        width: 100%;
        margin-bottom: 10px;
      }

      .sign-up-form-field__controls {
        width: 100%;
        margin-top: 10px;

        .btn-sign-up {
          width: 100%;
          margin: 5px 0;
          background-color: $primary-background-color;
          color: $default-color;
        }

        .controls__login {
          text-align: center;
          margin: 10px 0;

          .controls__login__title {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
