<div class="weather-forecast-container">
  <mat-tab-group mat-stretch-tabs [selectedIndex]="1" class="tab-group" animationDuration="0ms"
                 (selectedTabChange)="handleTabChanges($event)"
  >
    <mat-tab class="tab-item" label="Wind">
        <canvas id="canvasWind" #canvasWind></canvas>
    </mat-tab>
    <mat-tab class="tab-item" label="Temp">
        <canvas id="canvasTemp" #canvasTemp></canvas>
    </mat-tab>
    <mat-tab class="tab-item" label="Pressure">
      <canvas id="canvasPressure" height="75"></canvas>
    </mat-tab>
    <mat-tab class="tab-item" label="Humidity">
      <canvas id="canvasHumidity" height="75"></canvas>
    </mat-tab>
  </mat-tab-group>
</div>
