<div class="weather-forecast-container">
  <mat-tab-group mat-stretch-tabs [selectedIndex]="0" class="tab-group" animationDuration="0ms"
                 (selectedTabChange)="handleTabChanges($event)"
  >
    <mat-tab class="tab-item" label="Wind">
      <canvas id="canvasWind" height="75">{{chartWind}}</canvas>
    </mat-tab>
    <mat-tab class="tab-item" label="Temp">
      <canvas id="canvasTemp" height="75">{{chartTemp}}</canvas>
    </mat-tab>
    <mat-tab class="tab-item" label="Pressure">
      <!--<canvas id="canvasPressure" height="75">{{chartPressure}}</canvas>-->
    </mat-tab>
    <mat-tab class="tab-item" label="Humidity">
      <!--<canvas id="canvasHumidity" height="75">{{chartHumidity}}</canvas>-->
    </mat-tab>
  </mat-tab-group>
</div>
